h1{
    margin:0px;
}
#copy-right{

    visibility: initial;
    margin-top: 0px;
}
.heading{
    font-size: large;
    margin: 20px 0px 20px;
    padding-top: 20px;
}

pre{
    color: #660000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
code{
    color: #660000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
blockquote{
    color: #660000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
} 

.output{
    color: blue;
    font-size: large;
    font-family: Verdana, Arial, Helvetica, sans-serif;;
}